<a href="https://colab.research.google.com/github/ialkamal/project2-machine-learning/blob/master/Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project 2

In [1]:
import pandas as pd

## Dataset 1

Src: https://www.kaggle.com/hellbuoy/car-price-prediction

**Description:**  A large data set of different types of cars across the US  market.

**Target:** Price
(*predict the sales price*)

**Type:** Regression

In [4]:
ds1 = pd.read_csv("/content/drive/MyDrive/Coding Dojo/Machine_Learning/CarPrice_Assignment.csv")
ds1.head()

   car_ID  symboling                   CarName  ... citympg highwaympg    price
0       1          3        alfa-romero giulia  ...      21         27  13495.0
1       2          3       alfa-romero stelvio  ...      21         27  16500.0
2       3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3       4          2               audi 100 ls  ...      24         30  13950.0
4       5          2                audi 100ls  ...      18         22  17450.0

[5 rows x 26 columns]

In [6]:
ds1.shape

(205, 26)

**Features:** 26

**Rows:** 205

In [11]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [7]:
ds1.duplicated().any()

False

In [10]:
ds1.isna().any()

car_ID              False
symboling           False
CarName             False
fueltype            False
aspiration          False
doornumber          False
carbody             False
drivewheel          False
enginelocation      False
wheelbase           False
carlength           False
carwidth            False
carheight           False
curbweight          False
enginetype          False
cylindernumber      False
enginesize          False
fuelsystem          False
boreratio           False
stroke              False
compressionratio    False
horsepower          False
peakrpm             False
citympg             False
highwaympg          False
price               False
dtype: bool

I believe the problem is straightforward and can be modeled well.

## Dataset 2

Src: https://www.kaggle.com/andrewmvd/multi-organ-failure-prediction

**Description:**  The most common cause of death for patients admitted to a intensive care unit (ICU) is a clinical condition known as the multiple organ dysfunction syndrome (MODS), multi-organ failure, multiple systems organ failure, or through some of its more prominent manifestations, as the acute respiratory distress syndrome (ARDS) or disseminated intravascular coagulation (DIC), MODS is as poorly understood as it is prevalent.

This dataset contains data from 61 patients that entered the ICU due to trauma related reasons with 196 variables from physiological signals to severity scores (i.e NISS: New Injury Severity Score). The target variable (named label) is fairly balanced for outcomes of development of Multi Organ Failure or its absence.

**Target:** named label (development of Multi Organ Failure or its absence)

**Type:** Classification

In [12]:
ds2 = pd.read_csv("/content/drive/MyDrive/Coding Dojo/Machine_Learning/mods_dataset.csv")
ds2.head()

   ISS  NISS      PS14  Age  ...  MCP-1_T3  TNF-A_T3  Cortisol (ng/ml)_T3  Label
0   11    11  97.21493   41  ...       NaN       NaN             180.6876      N
1    9    22  99.59795   22  ...      2.89     39.96             133.6386      Y
2   14    17  99.10462   47  ...      0.01     85.15             181.1892      N
3    4    12  99.85114   38  ...    646.47   1267.07             194.7159      N
4   24    34  87.32603   78  ...       NaN       NaN             259.6209      Y

[5 rows x 197 columns]

In [13]:
ds2.shape

(61, 197)

**features:** 197

**Rows:** 61

In [14]:
ds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Columns: 197 entries, ISS to Label
dtypes: float64(186), int64(10), object(1)
memory usage: 94.0+ KB

In [15]:
ds2.duplicated().any()

False

In [16]:
ds2.isna().any()

ISS                    False
NISS                   False
PS14                   False
Age                    False
WBC [109/L]_T1          True
                       ...
G-CSF_T3                True
MCP-1_T3                True
TNF-A_T3                True
Cortisol (ng/ml)_T3    False
Label                  False
Length: 197, dtype: bool

The dataset has lots of missing values and this may take a lot of digging to impute the data.